.tooltip-wrapper {
    position: absolute;
    cursor: pointer;
    width: 244px;
    height: 57px;
    padding: 8px 0;
    pointer-events: none;
}

.tooltip-wrapper .tooltip {
    background: #31312f;
    border-radius: 8px;
    width: 244px;
    height: 40px;
    padding: 8px 0;
    pointer-events: all;
}

.tooltip-wrapper .tooltip:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 110px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #31312f;
}

.tooltip-wrapper .lock {
    width: 37px;
    float: right;
    margin-top: 6px;
    margin-right: 21px;
}

.tooltip-wrapper .twitter {
    position: relative;
}

.tooltip-wrapper .twitter img {
    width: 34px;
    float: left;
    margin-top: 9px;
    margin-left: 24px;
}

.tooltip-wrapper .twitter:after {
    content: '';
    position: absolute;
    left: 19px;
    top: 5px;
    border-left: 1px solid #bbbbbb;
    width: 2px;
    height: 32px;
}

.tooltip-wrapper .edit {
    width: 21px;
    float: left;
    margin-top: 6px;
    margin-left: 23px;
 }

.tooltip-wrapper .speech-bubble {
    width: 27px;
    float: left;
    margin-top: 7px;
    margin-left: 18px;
}