.agreement {
    margin-bottom: 20px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 2px 2px #dddddd;
}

.agreement .headline {
    margin-top: 60px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 2.3em;
    font-weight: 100;
    text-align: center;

}

.agreement .sub-heading {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.5em;
    font-weight: 100;
}

.agreement .paragraph {
    margin-bottom: 25px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    line-height: 1.5em;
    color: #444444;
}

.agreement .audit-trail {
    margin: 70px 0 30px 0;
}

.agreement .audit-trail .content {
    min-height: 50px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #efefef;
    text-align: center;

}

.agreement .open-arrow {
    display: inline-block;
    margin-left: 8px;
    color: #888888;
}

.agreement .audit-trail .opener {
    display: inline-block;
    text-align: center;
    line-height: 2.5em;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.2em;
    color: #666666;
}