.agreement {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 2px 2px #dddddd;
    margin-bottom: 20px;
}

.headline {
    text-align: center;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 2.3em;
    font-weight: 100;
    margin-top: 60px;
}

.sub-heading {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.5em;
    font-weight: 100;
}

.paragraph {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    line-height: 1.5em;
    margin-bottom: 25px;
    color: #444444;
}

.audit-trail {
    margin: 70px 0;
}

.audit-trail .content {
    background-color: #efefef;
    border: 1px solid #cccccc;
    border-radius: 3px;
    min-height: 50px;
}

.audit-trail .opener {
    display: block;
    text-align: center;
    line-height: 2.5em;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.2em;
    color: #666666;
}