.comment {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 2px 2px #dddddd;
    margin-bottom: 20px;
    overflow: hidden;
}

.comment .form {
    position: relative;
}

.comment .text-area {
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: inset 0 0 1px 1px #eeeeee;
    width: 100%;
    height: 180px;
    padding: 51px 17px 10px 12px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    outline: none;
    color: #666666;
    resize: none;
}

.comment .textarea-header {
    height: 42px;
    width: 100%;
    background-color: #eee;
    padding: 12px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.comment .sub-heading {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 1.5em;
    font-weight: 100;
}

.comment .send-to {
    margin-right: 5px;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    color: #444444;
}

.comment .post-button {
    background: #5a87c8;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    padding: 7px 15px 10px 15px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
}

@media (max-width: 1000px) {
    .comment {
        margin-bottom: 0;
    }
}